



 .color-purple {
        background-color: #E9C7FF;
        height: 80px;
        border: 1px solid #fff;
        text-align: center;
    }

    .color-green {
        background-color: #9DFFB4;
        height: 80px;
        border: 1px solid #fff;
        text-align: center;
    }

    .color-orange{
        background-color: #FFD7C7;
        height: 80px;
        border: 1px solid #fff;
        text-align: center;
    }

    .color-blue {
        background-color: #C7D6FF;
        height: 80px;
        border: 1px solid #fff;
        text-align: center;
    }

    .color-pink {
        background-color: #FFD7C7;
        height: 80px;
        border: 1px solid #fff;
        text-align: center;
    }

    
    .color-green1 {
        background-color: #9DFFB4;
        height: 80px;
        border: 1px solid #fff;
        text-align: center;
    }

    .color-green2 {
        background-color: #3FFF6C;
        height: 80px;
        border: 1px solid #fff;
        text-align: center;
    }


    .color-green3 {
        background-color: #00C72F;
        height: 80px;
        border: 1px solid #fff;
        text-align: center;
    }

    .color-orange1 {
        background-color: #FF7F4C;
        height: 80px;
        border: 1px solid #fff;
        text-align: center;
    }

    .color-orange2 {
        background-color: #FFA37E;
        height: 80px;
        border: 1px solid #fff;
        text-align: center;
    }

    .color-orange3 {
        background-color: #FFD7C7;
        height: 80px;
        border: 1px solid #fff;
        text-align: center;
    }



    .color-blue1 {
        background-color: #C7D6FF;
        height: 80px;
        border: 1px solid #fff;
        text-align: center;
    }
     .color-blue2 {
        background-color: #678FFF;
        height: 80px;
        border: 1px solid #fff;
        text-align: center;
    }

     .color-blue3 {
        background-color: #0044FF;
        height: 80px;
        border: 1px solid #fff;
        text-align: center;
    }